<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=244937176397068&autoLogAppEvents=1" nonce="xNaB8RhF"></script>

    <div class="container">
        {% include navbar.html %}
        <div class="page-title">
            {{page.title}}
        </div>
        <div class="content">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
</body>
