---
layout: default
---

<div class="page-subtitle">
    {% for tag in page.tags %}
        {% if page.tags.first == tag %}
            <b>[</b>
        {% endif %}
        <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
        {% if page.tags.last == tag %}
            <b>]</b>
        {% else %}
            ,
        {% endif %}
    {% endfor %}
</div>

<div><h1>{{ post.url }}</h1></div>

{{content | toc}}

{% include share-buttons.html %}
{% include like-button.html %}
{% include comment-fb-plugin.html %}